#menuBG {
    width:400px;
    height:470px;
    margin:10px 33%;
}

#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:600px;
    height:200px;
    margin: 20px auto;
    float: left;
}

.left {
    width:200px;
    height:200px;
    float:left;
}

.center {
    width:200px;
    height:200px;
    float:left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display: block;
    margin: 25px auto;
}

body {
    background-color: lightblue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgreen;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
}

div {
    font-family: cursive;
    color: darkred;
}

